.zg-app {
  text-align: center;

  .zg-player-card {
    display: flex;
    justify-content: center;
    .zg-player-name {
      background: rgb(235, 255, 165);
      width: 100px;
      height: 100px;
    }

    .zg-frame {
      background: rgb(165, 165, 255);
      width: 100px;
      height: 100px;


      .zg-top-scores {
        display: flex;
        flex-direction: row;
        .zg-top-left-score {
          background: cyan;
          height: 50px;
          width: 50px;
        }

        .zg-top-right-score {
          background: darkorchid;
          height: 50px;
          width: 50px;
        }
      }

      .zg-bottom-score {
        border: 2px solid brown;
        background: gold;
        height: 50px;
        width: 100px;
      }
    }

    .zg-total-score {
      background: rgb(237, 110, 136);
      width: 100px;
      height: 100px;
    }
  }
}
